# dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# builds
dist/
web-build/
android/
ios/

# env files
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# OS files
.DS_Store
